:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
    --menu-bar-color: #D84282;
}

#menu-container{
    margin: 100px;
    padding: 10px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--menu-bar-width);
    height: calc(var(--menu-bar-height) * 5);
}

#menu {
    background-color: var(--menu-bar-color);
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    transition: background-color 0.5s ease-in-out;
}

#menu::before,
#menu::after {
    /*Aanmaken van de andere 2 balkjes*/
    background-color: var(--menu-bar-color);
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
    transition: all 1s ease-in-out;
}

#menu::before {
    /*1 balkje naar boven plaatsen*/
    left: 0;
    top: -20px;
}

#menu::after {
    /*1 balkje naar beneden plaatsen*/
    left: 0;
    top: 20px;
}

#menu-container:hover > #menu {
    background-color: transparent;
}

#menu-container:hover > #menu::before {
    top:0;
    transform: rotate(45deg);
}

#menu-container:hover > #menu::after {
    top: 0;
    transform: rotate(-45deg);
}